<%- include("header") %>

<% comanda.forEach((comanda,index)=>{ %>
<p><%=comanda.nombre %> <%=comanda.nom %> </p>
<a class="btn" href="/comandesedit?id=<%= comanda.id %>">Editar comanda</a>
 <% })%>

<%- include("footer") %>