<%- include("header") %>

<form action="/usuarioedit" method="post">
    <input hidden name="ID" value="<%= comanda.id %>">

    <label for="nombreUsuario">nombre:</label>
    <input type="text" name="nombre" id="nombre" value="<%= selectusuario.nombre %>">

   
    <label for="emailUsuario">Email:</label>
    <input type="text" name="email" id="email" value="<%= selectusuario.email %>">
    
    <button type="submit">Enviar</button>
</form>
<%- include("footer") %>